<div class="recipe">
  <a [routerLink]="['/recipe', recipe._id]" class="recipe-img">
    <img [src]="recipe.imagePath" alt="" />
  </a>
  <div class="recipe-body">
    <h2 class="recipe-title">{{ recipe.name }}</h2>
    <p class="recipe-ingredients">
      {{ recipe.ingredients.length }}
      Ingredient{{ recipe.ingredients.length === 1 ? '' : 's' }}
    </p>
    <p class="recipe-excerpt mb-4">{{ recipe.description | cutText: 150 }}</p>
    <div class="recipe-buttons">
      <a [routerLink]="['/recipe', recipe._id]" class="read-more">Read More</a>
      <button (click)="deleteRecipe(recipe)" class="add-to-favorites">
        Delete
      </button>
      <button
        class="add-to-cart"
        [ngClass]="{
          selected: shoppingListService.isInShoppingList(recipe._id)
        }"
        (click)="shoppingListService.toggleShoppingList(recipe._id)"
      >
        <i-feather name="shopping-cart"></i-feather>
      </button>
      <button
        class="add-to-favorites"
        [ngClass]="{ selected: recipeService.isFavorite(recipe._id) }"
        (click)="recipeService.toggleFavorite(recipe._id)"
      >
        <i-feather name="bookmark"></i-feather>
      </button>
      <button
        class="edit"
        *ngIf="recipe.userEmail === cookieService.get('cookieService')"
      >
        <i-feather name="edit"></i-feather>
      </button>
      <button
        class="delete"
        *ngIf="recipe.userEmail === cookieService.get('cookieService')"
      >
        <i-feather name="trash"></i-feather>
      </button>
    </div>
  </div>
</div>
