<section class="login-page">
  <div class="cont">
    <div class="login-wrapper d-flex justify-content-center align-items-center">
      <div class="login">
        <h1 class="app-name mb-4 text-center">ngRecipes</h1>
        <form action="">
          <div class="form-element">
            <label for="email">Email</label>
            <input id="email" name="email" type="email" />
          </div>
          <div class="form-element">
            <label for="password">Password</label>
            <input id="password" name="password" type="password" />
          </div>
          <button class="form-button">Login</button>
          <p class="text-center mt-2">
            or <a routerLink="/auth/sign-up"><strong>Sign Up</strong></a>
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
