<!-- <button
  class="add-recipe p-4"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
>
  <div class="add-icon">
    <i-feather name="plus-circle"></i-feather>
  </div>
  <p class="add-text">Add new recipe</p>
</button> -->

<form
  class="add-recipe-form"
  (ngSubmit)="addNewRecipe($event)"
  [formGroup]="formNewRecipe"
>
  <!-- 
  <div class="form-element">
    <input formControlName="_id" type="text" placeholder="id" />
  </div> 
  -->
  <div class="form-element">
    <input formControlName="name" type="text" placeholder="Name" />
  </div>
  <div class="form-element">
    <input
      formControlName="description"
      type="text"
      placeholder="description"
    />
  </div>
  <div class="form-element">
    <input formControlName="amount" type="number" placeholder="amount" />
  </div>
  <div class="form-element">
    <input
      formControlName="ingredients"
      type="text"
      placeholder="ingredients"
    />
  </div>
  <div class="form-element">
    <input formControlName="imagePath" type="text" placeholder="imagePath" />
  </div>
  <!--
  <div class="form-element">
    <input formControlName="userEmail" type="email" placeholder="email" />
  </div>
  <div class="form-element">
    <input formControlName="__v" type="number" placeholder="" />
  </div>
  -->
  <button [disabled]="formNewRecipe.invalid" class="form-button">
    Add recipe
  </button>
</form>
