<!-- <button
  class="add-recipe p-4"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
>
  <div class="add-icon">
    <i-feather name="plus-circle"></i-feather>
  </div>
  <p class="add-text">Add new recipe</p>
</button> -->

<form (ngSubmit)="addNewRecipe($event)" [formGroup]="formNewRecipe" class="form">
  <div>
    <input formControlName="_id" type="text" placeholder="id" class="form-input" />
</div>
  <div>
      <input formControlName="name" type="text" placeholder="Name" class="form-input" />
  </div>
  <div>
      <input formControlName="description" type="text" placeholder="description" class="form-input" />
  </div>
  <div>
      <input formControlName="ingredients" type="text" placeholder="ingredients" class="form-input" />
  </div>
  <div>
      <input formControlName="imagePath" type="text" placeholder="imagePath" class="form-input" />
  </div>
  <div>
    <input formControlName="userEmail" type="email" placeholder="email" class="form-input" />
</div>
  <div>
    <input formControlName="__v" type="number" placeholder="" class="form-input" />
</div>
  <div>
      <button [disabled]="formNewRecipe.invalid" class="btn">Add recipe</button>
  </div>
</form>