<section class="login-page">
  <div class="cont">
    <div class="login-wrapper d-flex justify-content-center align-items-center">
      <div class="login">
        <h1 class="app-name mb-4 text-center">ngRecipes</h1>
        <form (ngSubmit)="sendSignUp()" [formGroup]="formLogin" action="">
          <div class="form-element">
            <label for="email">Email</label>
            <input
              formControlName="email"
              id="email"
              name="email"
              type="email"
              placeholder="Dirección de correo"
            />
          </div>
          <div class="form-element">
            <label for="password">Password</label>
            <input
              formControlName="password"
              id="password"
              name="password"
              type="password"
              placeholder="Contraseña"
            />
          </div>
          <button [disabled]="formLogin.invalid" class="form-button">
            Login
          </button>
          <p class="text-center mt-2">
            or
            <a routerLink="/auth/login"><strong>Sign Up</strong></a>
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
