<section class="recipe-page">
  <div class="cont">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="recipe">
          <div class="recipe-img mb-4">
            <img [src]="recipe.imagePath" alt="" />
          </div>
          <h2 class="recipe-title mb-3">{{ recipe.name }}</h2>
          <p class="recipe-description mb-3">{{ recipe.description }}</p>
          <h3 class="recipe-ingredients-title mb-3">Ingredients:</h3>
          <ul class="recipe-ingredients">
            <li
              class="recipe-ingredient"
              *ngFor="let ingredient of recipe.ingredients"
            >
              {{ ingredient.amount }} {{ ingredient.name }}
            </li>
            <li class="recipe-ingredient">Lettuce</li>
            <li class="recipe-ingredient">Avocado</li>
            <li class="recipe-ingredient">Radish</li>
          </ul>

          <div class="recipe-buttons">
            <button class="add-to-cart">
              <i-feather name="shopping-cart"></i-feather>
            </button>
            <button class="add-to-favorites selected">
              <i-feather name="bookmark"></i-feather>
            </button>
            <button
              class="edit"
              *ngIf="recipe.userEmail === cookieService.get('cookieService')"
            >
              <i-feather name="edit"></i-feather>
            </button>
            <button
              class="delete"
              *ngIf="recipe.userEmail === cookieService.get('cookieService')"
            >
              <i-feather name="trash"></i-feather>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
