<section class="recipe-page">
  <div class="cont">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="recipe">
          <div class="recipe-img mb-4">
            <img
              src="https://as1.ftcdn.net/v2/jpg/06/24/55/20/1000_F_624552014_QgyfYv9fkcqmXM2NwUzOmpAke07W2TVy.jpg"
              alt=""
            />
          </div>
          <h2 class="recipe-title mb-3">Radish and avocado salad</h2>
          <p class="recipe-description mb-3">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia
            voluptatem et a facere velit, veniam placeat esse Lorem ipsum dolor,
            sit amet consectetur adipisicing elit. Officiis tenetur, laudantium
            reiciendis incidunt voluptate id adipisci? Necessitatibus incidunt
            quas harum ea non animi, tempora, architecto porro nostrum laborum
            officia eos?
          </p>
          <h3 class="recipe-ingredients-title mb-3">Ingredients:</h3>
          <ul class="recipe-ingredients">
            <li class="recipe-ingredient">Lettuce</li>
            <li class="recipe-ingredient">Avocado</li>
            <li class="recipe-ingredient">Radish</li>
          </ul>

          <div class="recipe-buttons">
            <button class="add-to-cart">
              <i-feather name="shopping-cart"></i-feather>
            </button>
            <button class="add-to-favorites selected">
              <i-feather name="bookmark"></i-feather>
            </button>
            <button class="edit">
              <i-feather name="edit"></i-feather>
            </button>
            <button class="delete">
              <i-feather name="trash"></i-feather>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
