<section class="recipe-page">
  <div class="cont">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="recipe">
          <div class="recipe-img mb-4">
            <img [src]="recipe.imagePath" alt="" appImgBroken />
          </div>
          <h2 class="recipe-title mb-3">{{ recipe.name }}</h2>
          <p class="recipe-description mb-3">{{ recipe.description }}</p>
          <h3 class="recipe-ingredients-title mb-3">Ingredients:</h3>
          <ul class="recipe-ingredients">
            <li
              class="recipe-ingredient"
              *ngFor="let ingredient of recipe.ingredients"
            >
              {{ ingredient.amount }} {{ ingredient.name }}
            </li>
          </ul>
          <button (click)="openFormEdit()" class="form-button ms-0 me-4 mt-4">
            Editar
          </button>

          <form
            class="mt-4"
            *ngIf="openForm"
            [formGroup]="formEdit"
            (ngSubmit)="submitChanges(recipe, $event)"
          >
            <div class="form-element">
              <input formControlName="name" type="text" placeholder="name" />
            </div>
            <div class="form-element">
              <input
                formControlName="description"
                type="text"
                placeholder="description"
              />
            </div>
            <div class="form-element">
              <input
                formControlName="amount"
                type="number"
                placeholder="amount"
              />
            </div>
            <div class="form-element">
              <input
                formControlName="ingredients"
                type="text"
                placeholder="ingredients"
              />
            </div>
            <div class="d-flex">
              <button
                [disabled]="formEdit.invalid"
                class="form-button ms-0 me-4 mt-4"
              >
                Guardar
              </button>
              <button
                (click)="closeEdition()"
                class="form-button ms-0 me-4 mt-4"
              >
                Cancelar
              </button>
            </div>
          </form>

          <div class="recipe-buttons">
            <button
              class="add-to-cart"
              [ngClass]="{
                selected: shoppingListService.isInShoppingList(recipe._id)
              }"
              (click)="shoppingListService.toggleShoppingList(recipe._id)"
            >
              <i-feather name="shopping-cart"></i-feather>
            </button>
            <button
              class="add-to-favorites"
              [ngClass]="{ selected: favoritesService.isFavorite(recipe._id) }"
              (click)="favoritesService.toggleFavorite(recipe._id)"
            >
              <i-feather name="bookmark"></i-feather>
            </button>
            <!-- <button
              class="edit"
              *ngIf="recipe.userEmail === cookieService.get('cookieService')"
            >
              <i-feather name="edit"></i-feather>
            </button> -->
            <button
              class="delete"
              *ngIf="recipe.userEmail === cookieService.get('cookieService')"
            >
              <i-feather name="trash"></i-feather>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
