<section class="shopping-list">
  <div class="cont">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        <div class="shopping-list-body">
          <ul class="shopping-list-table">
            <li class="shopping-list-head shopping-list-row">
              <div>Product</div>
              <div>Quantity</div>
            </li>
            <li class="shopping-list-row">
              <div>Lettuce</div>
              <div>1</div>
            </li>
            <li class="shopping-list-row">
              <div>Tomato</div>
              <div>2</div>
            </li>
            <li class="shopping-list-row">
              <div>Avocado</div>
              <div>1</div>
            </li>
            <li class="shopping-list-row">
              <div>Radish</div>
              <div>5</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
