<section class="shopping-list">
  <div class="cont">
    <div
      class="row justify-content-center"
      *ngIf="objectKeys(ingredients).length > 0"
    >
      <div class="col-md-8 col-lg-6">
        <div class="shopping-list-body">
          <ul class="shopping-list-table">
            <li class="shopping-list-head shopping-list-row">
              <div>Product</div>
              <div>Quantity</div>
            </li>

            <li
              class="shopping-list-row"
              *ngFor="let ingredient of objectKeys(ingredients)"
            >
              <div>{{ ingredient }}</div>
              <div>{{ ingredients[ingredient] }}</div>
            </li>
          </ul>
        </div>

        <button
          class="form-button"
          (click)="shoppingListService.clearShoppingList()"
        >
          Clear
        </button>
      </div>
    </div>
    <p class="text-center" *ngIf="objectKeys(ingredients).length <= 0">
      Your shopping list is empty
    </p>
  </div>
</section>
