<section class="shopping-list">
  <div class="cont">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        <div class="shopping-list-body">
          <ul class="shopping-list-table">
            <li class="shopping-list-head shopping-list-row">
              <div>Product</div>
              <div>Quantity</div>
            </li>

            <li
              class="shopping-list-row"
              *ngFor="let ingredient of objectKeys(ingredients)"
            >
              <div>{{ ingredient }}</div>
              <div>{{ ingredients[ingredient] }}</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
