<nav class="nav-buttons py-5">
  <div class="cont">
    <div
      class="button-container d-flex justify-content-center flex-column flex-sm-row"
    >
      <a class="nav-button mb-3 mx-0 mx-sm-3 mb-sm-0 selected" routerLink="/"
        >Recipes</a
      >
      <a class="nav-button mb-3 mx-0 mx-sm-3 mb-sm-0" routerLink="/favorites"
        >Favorites</a
      >
      <a
        class="nav-button mb-3 mx-0 mx-sm-3 mb-sm-0"
        routerLink="/shopping-list"
        >Shopping List</a
      >
    </div>
  </div>
</nav>
